
:root {
    --color1: #F39237;
    --color2: #E5E6E4;
    --color3: #36393B;
}
body {
    background-color: var(--color2);
}

a {
    text-decoration: none;
    color: var(--color3);
}
li {
    list-style-type: none;
}

/* ------------------ Navbar ------------------ */ 

nav {
    font-size: x-large;
    border-bottom: solid 3px var(--color1);
}

/* ---------------- Hero Section --------------- */

#hero{
    background-color: var(--color2);
}
#name-plate{
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 15%;
    border-bottom: solid 3px var(--color1);
}
#name-plate h1{
    color: var(--color3);
    font-size: 70px;
}
#name-plate p{
    color: var(--color1);
    font-size: x-large;
}

/* --------------- About Section --------------- */
#about{
    background-color: var(--color1);
    color: var(--color2);
}
#about-circle{
    background: linear-gradient( var(--color1) 50%, var(--color3) 50% );
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -200px;

}
.bio{
    padding-bottom: 100px;
    margin-top: -200px;
}
.bio p{
    font-size: x-large;
    padding-top: 125px;
    padding-left: 100px;
    color: var(--color3);
}
#about-circle h2{
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20%;
    border-bottom: solid 3px var(--color1);
    width: 60%;
}

#skill-circle{
    background-color: var(--color3);
    text-align: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    color: var(--color2);
}
#skill-circle h3{
    border-bottom: solid 3px var(--color1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}


/* -------------- Projects Section ------------- */
#projects{
    background-color: var(--color2);
    text-align: center;
}
#projects h2{
    border-bottom: solid 3px var(--color1);
    color: var(--color3);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#project-list img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    border: solid 10px var(--color3);
}


/* -------------- Contact Section -------------- */
#contact{
    margin-top: 100px;
    background-color: var(--color1);
    text-align: center;
}
#contact h2{
    border-bottom: solid 3px var(--color3);
    color: var(--color2);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
label{
    font-size: larger;
    font-weight: bold;
    color: var(--color3);
}
#message{
    height: 300px;
}
button{
    background-color: var(--color3);
    font-size: x-large;
    color: var(--color2);
    height: 50px;
    margin: 30px;
}
#github{
    height: 100px;
    margin: 15px;
}
#linkedin{
    height: 100px;
    margin: 15px;
}