
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
    --color1: #F39237;
    --color2: #E5E6E4;
    --color3: #36393B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: var(--color2);
    font-family: 'Cascadia Code', sans-serif;
    letter-spacing: .25em;
    min-height: 100vh;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--color1);
}

li {
    list-style-type: none;
}

/* ------------------ Navbar ------------------ */ 

nav {
    font-size: x-large;
    border-bottom: solid 3px var(--color1);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--color3);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: var(--color2);
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: var(--color1);
}

input:focus + .slider {
box-shadow: 0 0 1px var(--color1);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#bubble-switch{
    padding-left: 50px;
    color: var(--color3);
    font-size: large;

}
#toggled{
    visibility: hidden;
}

/* ---------------- Hero Section --------------- */

#hero{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#name-plate{
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 15%;
    border-bottom: solid 3px var(--color1);
}
#name-plate h1{
    color: var(--color3);
    font-size: 70px;
}
#name-plate p{
    color: var(--color1);
    font-size: x-large;
}
@media screen and (max-width:980px) {
    #name-plate{
       margin-bottom: 250px;
       margin-left: 0;
       margin-right: 0;
       text-align: center;
    } 
 }

/* ---------------- Bubbles  --------------- */
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--color1);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px var(--color1),
    0 0 50px var(--color1),
    0 0 100px var(--color1);
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even){
    background-color: var(--color3);
    box-shadow: 0 0 0 10px var(--color3),
    0 0 50px var(--color3),
    0 0 100px var(--color3);
}
@keyframes animate {
0%{
    transform: translateY(100vh) scale(0);
}
100%{
    transform: translateY(-10vh) scale(1);
}   
}


/* --------------- About Section --------------- */
#about{
    background-color: var(--color1);
    color: var(--color2);
}
#about-circle{
    background: linear-gradient( var(--color1) 50%, var(--color3) 50% );
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -200px;

}
.bio{
    padding-bottom: 100px;
    margin-top: -200px;
}
.bio p{
    font-size: x-large;
    padding-top: 125px;
    padding-left: 100px;
    color: var(--color3);
}
#about-circle h2{
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20%;
    border-bottom: solid 3px var(--color1);
    width: 60%;
}

#skill-circle{
    background-color: var(--color3);
    text-align: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    color: var(--color2);
}
#skill-circle h3{
    border-bottom: solid 3px var(--color1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27%;
    margin-bottom: 30px;
}
@media screen and (max-width:980px) {
    #skill-circle{
        margin-top: 30px;
        margin-bottom: -75px;
        width: 350px;
        height: 350px;
    } 
    #about-circle{
        display: none;
    }
 }



/* -------------- Projects Section ------------- */
#projects{
    background-color: var(--color2);
    text-align: center;
}
#projects h2{
    border-bottom: solid 3px var(--color1);
    color: var(--color3);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#project-list img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    box-shadow: 10px 5px 5px var(--color3);
}
#project{
    padding-bottom: 100px;
    color: var(--color3);
}
#project-links{
    margin-top: 25px;
    background-color: var(--color3);
    color: var(--color2);
    padding: 7px;
}
#project-links a{
    padding: 25px;
}

@media screen and (max-width:768px) {
   #project-list img{
    width: 350px;
    height: 225px;
   } 
}


/* -------------- Contact Section -------------- */
#contact{
    background-color: var(--color1);
    text-align: center;
}
#contact h2{
    border-bottom: solid 3px var(--color3);
    color: var(--color2);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
label{
    font-size: larger;
    color: var(--color3);
    margin-bottom: -5px;
}
#message{
    height: 300px;
}
button{
    background-color: var(--color3);
    font-size: large;
    color: var(--color2);
    height: 50px;
    margin: 30px;
    width: 250px;
}
button:hover{
    color: var(--color1);
}
#github{
    height: 100px;
    margin: 15px;
}
#linkedin{
    height: 100px;
    margin: 15px;
}